{% extends "projects/base.html" %}

{% block title_suffix %}About{% endblock %}
{% block page_heading %}About{% endblock %}

{% block page_content %}
<p>
Number of available software frameworks, libraries and tools grows
exponentially. This site aims to provide some metrics to make it easier to
orient oneself in this environment of rapid growth.
</p>
<!-- TODO: charts for growth of:
	     - number of StackOverflow tags
			 - number of repos on GitHub
			 - number of packages on npm, homebrew, pip, composer, maven, etc -->
<p>
Various metrics from
publicly available sources are gathered and exposed in a format convenient for
human consumption. The idea is to facilitate informed decision-making process by
individuals and companies who may find this kind of information handy.
</p>
<p>
An attempt is made to discover and disclose company
affiliations where possible and identify driving organizational forces behind various
technological trends. Affiliations of committers, company engineering blogs and
other
publicly available sources are used for that purpose.
</p>
{% endblock %}
