<!doctype html>
<html lang="en">
<head>
<title>Code Watch</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="description" content="Trends and metrics for software frameworks, libraries and tools">
<link rel="canonical" href="http://software-trends.com/">
<link rel="stylesheet" type="text/css" href="/static/main.css" />
<script>
(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
 (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
 m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
 })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
ga('create', 'UA-101965153-1', 'auto');
ga('send', 'pageview');
</script>
</head>
<body>
<div>
<a href="/static/about.html">About</a>
<a>Topics</a>
<a>Projects</a>
<a>Methodology</a>
<a>About</a>
</div>
</div>
</nav>
</div>
</header>
<div class="row justify-content-center">
<div class="col-md-6">
<h4 class="display-4 text-md-center my-3">Code Metrics</h4>
<div class="content">
<div id="development">
<h5>Monthly unique contributors</h5>
<table class="table">
<thead>
<tr>
<th scope="col">#</th>
<th scope="col">Project</th>
<th scope="col">Source Repository</th>
<th scope="col">Count</th>
</tr>
</thead>
<tbody>
{% for entry in metrics.contributor_count %}
<tr class="{% if entry.count|add:"0" < 100 %}un{% endif %}popular">
<th scope="row">{{ forloop.counter }}</th>
<td><a href="/projects?id={{ entry.project_id  }}">{{ entry.project_name }}</a></td>
<td><a href="{{ entry.repo_url }}">{{ entry.repo_name }}</a></td>
<td>{{ entry.count }}</td>
</tr>
{% endfor %}
</tbody>
</table>
<svg class="chart" id="chart-contributor-count"></svg>

<h6>Monthly commits</h6>
<table class="table">
<thead>
<tr>
<th scope="col">#</th>
<th scope="col">Project</th>
<th scope="col">Source Repository</th>
<th scope="col">Count</th>
</tr>
</thead>
<tbody>
{% for entry in metrics.commit_count %}
<tr>
<th scope="row">{{ forloop.counter }}</th>
<td><a href="/projects?id={{ entry.project_id  }}">{{ entry.project_name }}</a></td>
<td><a href="{{ entry.repo_url }}">{{ entry.repo_name }}</a></td>
<td>{{ entry.count }}</td>
</tr>
{% endfor %}
</tbody>
</table>
<svg class="chart" id="chart-commit-count"></svg>

<table class="table">
<thead>
<tr>
<th scope="col">#</th>
<th scope="col">Project</th>
<th scope="col">Source Repository</th>
<th scope="col">Jan</th>
<th scope="col">Feb</th>
<th scope="col">Mar</th>
<th scope="col">Apr</th>
<th scope="col">May</th>
<th scope="col">Jun</th>
<th scope="col">Jul</th>
<th scope="col">Aug</th>
<th scope="col">Sep</th>
<th scope="col">Oct</th>
<th scope="col">Nov</th>
<th scope="col">Dec</th>
</tr>
</thead>
<tbody>
{% for entry in metrics.monthly_commit_count %}
<tr>
<th scope="row">{{ forloop.counter }}</th>
<td><a href="/projects?id={{ entry.project_id  }}">{{ entry.project_name }}</a></td>
<td><a href="{{ entry.repo_url }}">{{ entry.repo_name }}</a></td>
<td>{{ entry.jan2017_count }}</td>
<td>{{ entry.feb2017_count }}</td>
<td>{{ entry.mar2017_count }}</td>
<td>{{ entry.apr2017_count }}</td>
<td>{{ entry.may2017_count }}</td>
<td>{{ entry.jun2017_count }}</td>
<td>{{ entry.jul2017_count }}</td>
<td>{{ entry.aug2017_count }}</td>
<td>{{ entry.sep2017_count }}</td>
<td>{{ entry.oct2017_count }}</td>
<td>{{ entry.nov2017_count }}</td>
<td>{{ entry.dec2017_count }}</td>
<td>{{ entry.jan2018_count }}</td>
</tr>
{% endfor %}
</tbody>
</table>
<svg id="monthly-commit-count" width="960" height="500"></svg>
</div> <!-- development -->

<!--  USAGE  -->

<div id="usage">
<h5 class="display-5 text-uppercase">Usage</h5>
<h6>StackOverflow questions monthly</h6>
<table class="table">
<thead>
<tr>
<th scope="col">#</th>
<th scope="col">Tag</th>
<th scope="col">Total Questions Asked</th>
</tr>
</thead>
<tbody>
{% for entry in metrics.question_count %}
<tr class="{% if entry.count|add:"0" < 100 %}un{% endif %}popular">
<th scope="row">{{ forloop.counter }}</th>
<td><a href="https://stackoverflow.com/tags/{{ entry.tag_name }}/info">{{ entry.tag_name }}</td>
<td>{{ entry.count }}</td>
</tr>
{% endfor %}
</tbody>
</table>
<svg class="chart" id="chart-question-count"></svg>
</div> <!-- usage -->

<!--  HYPE  -->

<div id="hype">
<h5 class="display-5 text-uppercase">Hype</h5>
<h6>GitHub stars monthly</h6>
<table class="table">
<thead>
<tr>
<th scope="col">#</th>
<th scope="col">Project</th>
<th scope="col">GitHub Owner/Repository</th>
<th scope="col">Total Stargazers</th>
</tr>
</thead>
<tbody>
{% for entry in metrics.star_count %}
<tr>
<th scope="row">{{ forloop.counter }}</th>
<td><a href="/projects?id={{ entry.project_id  }}">{{ entry.project_name }}</a></td>
<td><a href="{{ entry.repo_url }}">{{ entry.repo_name }}</a></td>
<td>{{ entry.count }}</td>
</tr>
{% endfor %}
</tbody>
</table>
<svg class="chart" id="chart-star-count"></svg>
</div> <!-- hype -->
</div>
</div>
</div>
<footer class="row justify-content-center site-footer">
<div class="col-md-6">
<span class="footer-heading float-left">CodeWatch.cc &copy; 2018</span>
<span class="footer-description float-right"> Trends and metrics
for software platforms, frameworks, libraries and tools.</span>
</div>
</footer>
</div><!-- div.container-fluid -->


<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js" integrity="sha256-VazP97ZCwtekAsvgPBSUwPFKdrwD3unUfSGVYrahUqU=" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>
<script src="https://d3js.org/d3.v4.min.js"></script>
<script src="/static/js/polyfill.js"></script>
<script src="/static/js/barchart.js"></script>
</body>
</html>
