/**
 * Site header
 */
.site-header {
  border-top: 5px solid #424242;
  border-bottom: 1px solid #e8e8e8;
}

.site-title {
  font-size: 26px;
  font-weight: 300;
  line-height: 54px;
  letter-spacing: -1px;
}

.site-title, .site-title:visited {
  color: #424242;
}

/**
 * Site footer
 */
.site-footer {
  border-top: 1px solid #e8e8e8;
  padding: 30px 0; }

.footer-heading {
  font-size: 18px;
  margin-bottom: 15px; }

.footer-description {
  font-size: 15px;
  color: #828282;
}

/**
 * Tables
 */
.table thead th, .table th, .table td {
  border-color: beige;
}

tr.unpopular {
  background-color: #ffcdd2;
}

tr.popular {
  background-color: #e8f5e9;
}

/**
 * Charts
 */
/*
 * Responsive break points.
 *
 * Borrowed from Boostrap 4
 * https://v4-alpha.getbootstrap.com/layout/overview/#responsive-breakpoints
 */
/*$break-desktop-large:   above=  1200px;*/
/* charts */
/*
 * To be responsive .chart should inherit the width 
 * of its container. All bars will then calculate 
 * their widths based on .chart width.
 *
 * On mobile devices we let the chart take all screen
 * space horizontally. As the screen space increases
 * we progressively reduce the share of the bar chart.
 *
 * Note: the order of media queries is significant.
 */
.chart {
  width: 50%; }

@media screen and (max-width: 768px) {
  .chart {
    width: 66%; } }
@media screen and (max-width: 576px) {
  .chart {
    width: 100%; } }
.chart rect {
  fill: steelblue; }

.chart text {
  fill: white;
  font: 10px sans-serif;
  text-anchor: end; }

/* multi-series line chart */
.axis--x path {
  display: none;
}

.line {
  fill: none;
  stroke: steelblue;
  stroke-width: 1.5px;
}
