<form>
	<div class="from-group py-5">
		<input id="projects" class="form-control" placeholder="Search for projects...">
		<small class="form-text text-muted">For example, "Angular" or "Linux"</small>
	</div>
</form>
<div id="projectinfo" class="pb-5"> </div>
{% endblock %}

{% block footer_scripts %}
<script>
  $( function() {
		// Project list is populated during server-side rendering (Django templates)
    var availableTags = [
			{% for project in project_list %}
			  {
					id: {{ project.id }},
					label: "{{ project.name }}",
					value: "{{ project.name }}",
				},
			{% endfor %}
	  ];

    widget = $( "#projects" ).autocomplete({
			source: availableTags,
			minLength: 1,
			select: function(event, ui) {
				$.get("/projects/" + ui.item.id, function(data){
					//console.log("response: " + JSON.stringify(data));
					project_info_block = $("#projectinfo");
					project_info_block.html("");
					if (data.name != null) {
						project_info_block.append("<h3>" + data.name + "</h3>");
					}
					if (data.web_page != null) {
						project_info_block.append("<p><a href='" + data.web_page + "'>"
								+ data.web_page + "</a></h3>");
					}
					if (data.description != null) {
						project_info_block.append("<p>" +  data.description + "</p>");
					}
          // TODO: Add a list of links to all project repositories.
					if (data.topics.length != 0) {
						project_info_block.append(
								"<p>Compare in topics:</p><ul id='topics'></ul>")
					  topics_block = $("#topics")
						data.topics.forEach(function(topic) {
							topics_block.append("<li><a href='/topics/"
									+ topic.id + "'>" + topic.name + "</a></li>")
						});
					}
				});
			}
    });

		if (location.search) {
			project_id = location.search.split("=")[1];
			project = availableTags.find(function (project) {
				return project.id == project_id;
			});
			widget.val(project.value).data('uiAutocomplete')
				._trigger('select', 'autocompleteselect', { item: project });
		}
  } );
  </script>
